[defaults]
inventory           = inventories/flashblade.yml
collections_path    = /home/egrosso/fb-tfansible/ansible_env/lib/python3.12/site-packages/ansible_collections
interpreter_python  = /home/egrosso/fb-tfansible/ansible_env/bin/python3
host_key_checking   = False
retry_files_enabled = False
